doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | ぼうけんのしょ
    include /_include/_css
  body
    include /_include/_header

    .pages
      .mv(style=`background-image: url(${eyecatch.url})`)
        .container
          .text
            h1=title
            p=kana
          ul.tag
            each item in tags
              li=item.label

      .container
        each item in faq
          dl
            dt
              h2=item.question
            dd!=item.answer
      
    include /_include/_footer